
/*     VARIABLES      */
/* ------------------ */
$color-primary: #ee6352;
$color-secondary: #009e0f;
$color-tertiary: rgba(224,159,61,1);
$color-primary-light: #ff6d59;
$color-primary-dark: #c55445;
$color-secondary-light: #00c514;
$color-secondary-dark: #01860f;
$color-background-light: rgb(245,245,245);
$color-background-dark: rgba(218, 237, 190,1);
$color-white: #fff;
$color-black: #000;
$color-grey-fulldark: #323232;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-light: #dcdcdc;
$color-shadow: rgba($color-black, 0.2);
$color-footer: #000;
$color-transparent: rgba(255,255,255,0);
$color-shine: rgba(255,255,255,.2);
/* ------------------ */