
/*    Header block    */
/* ------------------ */
.header {
    position: relative;
    z-index: 0;

    &__jumbotron {
        position: relative;
        // background-image: linear-gradient(135deg, rgba(224,159,61,1) 0%, rgba(0,158,15,1) 84%, rgba(0,158,15,1) 100%);
        background-image: url('/resources/img/hero-background.jpg');
        background-size: cover;
        background-position: bottom right;
        height: 50vh;
        z-index: 1;
    }

    &__textbox {
        background-color: rgba(0,0,0,.5);
        padding: 5rem;
        height: 50vh;
        width: 50%;
        transition: all .3s;
        z-index: 1;

        @include respond-stage3-1 {
            width: 100%;
            padding: 2rem;
        }
    }

    &__text {
        position: absolute;
        bottom: 13vh;
        color: $color-white;
        width: 28rem;
        @include respond-stage4 {
            bottom: 10vh;
            width: 80%;
        }
    }

    &__sub-text {
        position: absolute;
        opacity: 0;
        bottom: 5vh;
        color: $color-white;
        font-size: 2rem;
        font-weight: 300;
        width: 55rem;
        text-align: left;

        @include respond-stage3-1 {
            width: 80%;
        }

        @include respond-stage5 {
            opacity: 0;
            visibility: hidden;
        }

        &.animate {
            animation: moveInBottom 1s ease-out .5s;
            animation-fill-mode: forwards;
            backface-visibility: hidden;
        }
    }

    &__image {
        position: absolute;
        height: auto;
        width: 30rem;
        bottom: -1rem;
        right: 10rem;
        transition: all .3s;
        @include respond-stage3-1 {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__about {
        color: $color-grey-dark;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
        grid-template-areas: "det img"
                             "det quote";

        @include respond-stage3-1 {
            grid-template-columns: 1fr;
            grid-gap: 5rem;
            grid-template-areas: "det"
                                 "img"
                                 "quote";
        }

        &__images {
            grid-area: img;
            & img {
                width: 48%;
                height: auto;

                &:not(:last-child) {
                    margin-right: 1%;
                }
            }
        }

        &__title {
            grid-area: about
        }

        &__quote {
            grid-area: quote;
            border-left: 2px solid $color-tertiary;
            margin-top: 2rem;
            padding-left: 3rem;
        }

        &__details {
            grid-area: det;
            line-height: 3rem;
        }

    }
}

.quote {
    &__text {
        font-size: 3rem;
        font-weight: 300;
    }

    &__owner {
        font-size: 1.7rem;
    }
}
/* ------------------ */