.news {
    text-align: center;

    &__inner {
        display: inline-block;
        width: 100%;
        margin-top: 4rem;
    }

    &__grid {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        // grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 4rem;
    }

    &__item {
        &:link,
        &:visited {
            font-size: 1.8rem;
            font-weight: 300;
            text-decoration: none;
        }

        border: 2px solid $color-grey-light;
        background: $color-white;
        height: 25rem;
        width: 100%;
        background-size: cover;
        cursor: pointer;
        -webkit-transition: border .5s;
        transition: border .5s;

        &:hover {
            border: 2px solid $color-secondary;
        }

        &__title {
            text-align: left;
            font-size: 1.8rem;
            font-weight: 700;
            margin-top: 2rem;
            padding: .5rem 1rem;
            width: 80%;
            background-color: rgba($color-tertiary,.9);
            color: $color-white;
            -webkit-transition: all .5s;
            transition: all .5s;
        }

        &:hover &__title,
        &:hover &__active {
            background-color: rgba($color-secondary,.9);
            color: rgba($color-white,.9);
        }

        &--lawn {
            background-size: 100%;
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }

    &__item--newsletter {
        text-align: center;

        & form {
            display: inline-block;
            font-size: 1.5rem;
            max-width: 400px;
            margin-bottom: 1rem;
        }

        & form input[type="email"] {
            width:60%;
            padding: 8px 12px 8px 12px;
            border: 1px solid $color-grey-dark;
        }

        & form .label {
            visibility: hidden;
            width: 100%;
            padding-bottom: 0.5rem;
            color: $color-white;
        }

        & form button {
            background-color: $color-secondary;
            border: 1px solid $color-grey-dark;
            color: $color-white;
            -webkit-transition: all .3s;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                color: $color-secondary;
            }
        }
    }
}

.social-links {
    text-align: center;
    display:block;
    padding-top: 2rem;
    color: $color-grey-dark;
    font-size: 3rem;
    margin-top: 2rem;

    & li {
        display:inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-dark;
            text-decoration: none;
            text-transform: uppercase;
            display:inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
        }
    }
}