<footer class="footer">
    <div class="footer__contactus">
        <div class="footer__contactus__header">Knowledgeable And Experienced Landscapers</div>
        <div class="footer__contactus__text">With over 100 years combined experience our team of knowledgeable landscapers will provide an unprecedented level of expertise and dedication to your garden.</div>
        <div class="footer__contactus__buttonContainer">
            <a href="#contact-us" class="footer__contactus__button">Request Quote</a>
        </div>
    </div>
    <div class="footer__container">
        <div class="footer__grid u-container--small">
            <a href="#contact-us" class="footer__link"><div class="footer__header heading-tertiary">Contact Us</div></a>
            <div class="footer__text">To discuss your needs, contact a member of our team now.</div>
            <div class="footer__times">Monday to Friday, 8:00am - 5:00pm</div>
            <div class="footer__phone">
                <a class="footer__link" href="tel:01792851660">
                    <i class="ion-ios-telephone"></i>
                    01792 851 660
                </a>
                &nbsp;
                <a class="footer__link" href="tel:07968791186">
                    <i class="ion-ios-telephone"></i>
                    07968 791 186
                </a>
            </div>

            <a class="footer__email footer__link" href="mailto:info@naturalgroundcare.co.uk">
                <i class="ion-ios-email"></i>
                info@naturalgroundcare.co.uk
            </a>
            <div class="footer__address">
                Cefn Bychan Farmhouse<br>
                Cefn, Bychan<br>
                Penclawdd<br>
                Swansea<br>
                SA4 3JS<br>
            </div>

            <ul class="footer__social">
                <li><a target="_blank" href="#" class="footer__link"><i class="ion-social-twitter"></i></a></li>
                <li><a target="_blank" href="#" class="footer__link"><i class="ion-social-facebook"></i></a></li>
            </ul>

            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a target="_blank" href="https://www.lawnamental.co.uk" class="footer__link">Lawnamental</a></li>
                    <li class="footer__item"><a href="#contact-us" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="/privacy" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="/terms" class="footer__link">Terms</a></li>
                </ul>
            </div>
            <p class="footer__copyright">
                Copyright &copy; by <a target="_blank" href="https://www.naturalgroundcare.co.uk" class="footer__link">Natural Groundcare</a> 2018. Website by <a target="_blank" href="https://www.techmeleon.co.uk" class="footer__link">Techmeleon</a>
            </p>
        </div>
    </div>
</footer>

<% include ./contactus %>
<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
<script type="text/javascript" src="/vendors/techmeleon/techmeleon-1.0.0.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
<script type="text/javascript" src="/vendors/waypoints/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/resources/js/main.js"></script>
<script type="text/javascript" src="/resources/js/loading.js"></script>