<div id="loginModal">
    <div class="loginContainer">
        <form id="loginAttempt" action="/auth/login" method="POST">
            <input id="username" type="text"     name="username" placeholder="username" required>
            <input id="password" type="password" name="password" placeholder="password" required>
            <input id="remember" type="checkbox" name="remember_me"/ checked>
            <label for="remember">Remember me?</label>
            <button>Login</button>
            <p id="logFormError"></p>
        </form>
    </div>
</div>