    <div class="navigation">
        <div class="navigation__logo">
            <a href="/" class="navigation__logo__link">
                <img class="navigation__logo__image" src="/resources/img/nllogo-white.png" alt="Natural Groundcare  logo">
                <img class="navigation__logo__image navigation__logo__image--alt" src="/resources/img/nllogo-color.png" alt="Natural Groundcare logo">
                <div class="navigation__logo__text"><p><span class="navigation__logo__text--1">Natural</span><span class="navigation__logo__text--2">Groundcare</span></p></div>
            </a>
        </div>
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <a class="navigation__contact" href="#contact-us"><ion-icon name="phone-portrait"></ion-icon></a>
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="/#section-services">Services</a></li>
                <li class="navigation__item"><a class="navigation__link" href="/cases/">Case Studies</a></li>
                <li class="navigation__item"><a class="navigation__link" href="/news/">News</a></li>
            </ul>
        </nav>
    </div>