<% include ./partials/header %>

    <title>About | #Keyword 1# | #Keyword 2#</title>
    <meta name="description" content="#Description#">
    <meta name="keywords" content="#keywords#">
</head>

<body>
    <% include ./partials/nav %>

    <main>
        About Page
    </main>

    <% include ./partials/footer %>
</body>