<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- Link fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700" rel="stylesheet">
    <!-- End Link fonts -->

    <!-- Link style sheets -->
    <link rel="stylesheet" type="text/css" href="vendors/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/techmeleon/techmeleon-1.0.0.css">
    <link rel="stylesheet" type="text/css" href="resources/css/underConstruction.css">
    <!-- End Link style sheets -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <!-- Link JS needed prior to load -->

    <!-- End Link JS needed prior to load -->

    <!-- <link rel="apple-touch-icon" sizes="57x57" href="resources/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="resources/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="resources/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="resources/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="resources/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="resources/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="resources/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="resources/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicons//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="resources/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="resources/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="resources/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="resources/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> -->

    <title>Lawnamental | Lawn care | franchise available</title>
    <meta name="description" content="I am a description of Lawnamenetal">
    <meta name="keywords" content="Lawn care">
    <meta name="keywords" content="Franchise">
</head>

<div id="site">
    <div class="title">
        <h2>We are launching soon!</h1>
        <!-- <h1>Lawnamental</h1> -->
        <img src="resources/img/Asset Nutured Landscapes.png">
        <h3>
            We can provide you with a plan and design service.<br>
            From start to finish we will create the perfect outdoor space.
        </h3>
        <form action="newsletter" method="POST">
            <div class="label"><label>Sing up to our Newsletter</label></div>
            <input type="email" name ="email" placeholder="email address" required>
            <button>subscribe</button>
        </form>
    </div>

    <div id="social-media">
        <ul>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
    <div id="companies">
        <ul>
            <li><a href="https://www.lawnamental.co.uk">Need lawn care? <img src="resources/img/Asset Lawnamental White.svg"></a></li>
            <li><a href="https://www.techmeleon.co.uk"><img src="">Website by Techmeleon</a></li>
        </ul>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>