@charset "UTF-8";
/* Media query manager

    1600 - infinite
*/
/*     VARIABLES      */
/* ------------------ */
/* ------------------ */
/*     Animations     */
/* ------------------ */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-fill-mode: forward; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-fill-mode: forward; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

/* ------------------ */
/*        Base        */
/* ------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: white; }
  @media (max-width: 860px) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  color: #777; }

button {
  border-color: black;
  background-color: white;
  padding: .8rem 1.2rem; }

button:focus {
  outline: 0; }

ul {
  list-style-type: none; }

/* ------------------ */
/* Main typography settings */
/* ------------------ */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }

/* ------------------ */
/* h1 heading primary */
/* ------------------ */
.heading-primary,
h1 {
  display: block;
  opacity: 0;
  font-weight: 300;
  font-size: 4rem; }
  .heading-primary.animate,
  h1.animate {
    animation: moveInRight 1s ease-out;
    animation-fill-mode: forwards;
    backface-visibility: hidden; }

/* ------------------ */
/* h2 heading secondary */
/* ------------------ */
.heading-secondary,
h2 {
  width: 100%;
  text-align: center;
  margin: 5rem auto;
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 700;
  display: inline-block;
  color: #009e0f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color .3s; }
  .heading-secondary a:visited, .heading-secondary a:link,
  h2 a:visited,
  h2 a:link {
    text-decoration: none;
    vertical-align: middle;
    color: #009e0f;
    transition: color .3s; }
  .heading-secondary a:hover, .heading-secondary a:active,
  h2 a:hover,
  h2 a:active {
    color: #00c514; }
  .heading-secondary a ion-icon,
  h2 a ion-icon {
    vertical-align: text-top; }
  .heading-secondary--alt,
  h2--alt {
    color: #009e0f;
    text-shadow: 1px 1px 2px #fff; }
    .heading-secondary--alt a:visited, .heading-secondary--alt a:link,
    h2--alt a:visited,
    h2--alt a:link {
      color: #009e0f;
      text-shadow: 1px 1px 2px #fff; }
    .heading-secondary--alt a:hover, .heading-secondary--alt a:active,
    h2--alt a:hover,
    h2--alt a:active {
      color: #00c514; }

/* ------------------ */
/* h3 heading secondary */
/* ------------------ */
.heading-tertiary,
h3 {
  font-size: 2rem;
  color: #777;
  padding-bottom: 1rem; }

/* ------------------ */
.u-container {
  max-width: 177rem;
  margin: 0 auto; }
  .u-container--mid {
    max-width: 140rem;
    margin: 0 auto; }
  .u-container--small {
    max-width: 98rem;
    margin: 0 auto; }

.u-flex-container {
  display: flex;
  justify-content: flex-start; }
  .u-flex-container--right {
    justify-content: flex-end; }

.u-relative {
  position: relative; }

.u-max {
  width: 100%;
  height: 100%; }

/*     Navigation     */
/* ------------------ */
.navigation__underConstruction {
  position: fixed;
  z-index: -1;
  top: 0;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  text-align: center; }

.navigation {
  position: absolute;
  z-index: 1;
  padding-top: 1rem;
  height: 7rem;
  width: 100%;
  transition: all .5s; }
  .navigation__logo {
    position: relative;
    display: inline-block;
    height: 5rem;
    z-index: 2; }
    .navigation__logo__link:link, .navigation__logo__link:visited {
      color: #fff; }
    .navigation__logo__image {
      cursor: pointer;
      position: absolute;
      left: 3rem;
      height: 100%;
      width: auto; }
      .navigation__logo__image--alt {
        display: none; }
    .navigation__logo__text {
      position: absolute;
      left: 10rem;
      top: 1rem;
      font-size: 2rem;
      height: 100%;
      width: 20rem; }
  .navigation__contact {
    position: absolute;
    z-index: 2;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    top: 1.2rem;
    right: 9rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    transition: all 1s; }
    .navigation__contact:hover {
      transform: translateY(-2px); }
  .navigation__button {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    cursor: pointer; }
  .navigation__icon {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      display: inline-block;
      width: 3rem;
      height: 2px;
      transition: background-color 1s;
      background-color: #fff; }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button {
    position: fixed; }
  .navigation__checkbox:checked ~ .navigation__contact {
    position: fixed; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
      background-color: #fff; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
      background-color: #fff; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__nav {
    right: 0; }
  .navigation__nav {
    position: fixed;
    top: 0;
    right: -32rem;
    height: 100%;
    width: 32rem;
    background-color: #000;
    transition: all .8s; }
  .navigation__list {
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 7rem; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.5rem;
    width: 100%;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #009e0f;
    transform: translateX(1rem); }
  .navigation.js--fixed {
    position: fixed;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .navigation.js--fixed .navigation__logo__image {
      display: none; }
      .navigation.js--fixed .navigation__logo__image--alt {
        display: block; }
    .navigation.js--fixed .navigation__logo__text p {
      word-spacing: 0px; }
    .navigation.js--fixed .navigation__logo__text--1 {
      color: #009e0f; }
    .navigation.js--fixed .navigation__logo__text--2 {
      color: #e09f3d; }
    @media (max-width: 580px) {
      .navigation.js--fixed .navigation__logo__text {
        visibility: hidden;
        opacity: 0; } }
    .navigation.js--fixed .navigation__underConstruction, .navigation.js--fixed .navigation__contact {
      color: #000; }
    .navigation.js--fixed .navigation__icon, .navigation.js--fixed .navigation__icon::after, .navigation.js--fixed .navigation__icon::before {
      background-color: #000; }
    .navigation.js--fixed .navigation__checkbox:checked ~ .navigation__contact {
      color: #fff;
      position: fixed; }

/* ------------------ */
/*      Buttons       */
/* ------------------ */
.btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  margin: 2.5rem 1rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--red {
  background-color: #009e0f;
  color: #fff; }
  .btn--red::after {
    background-color: #009e0f; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  opacity: 1; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }

.btn-text:link, .btn-text:visited {
  color: #009e0f;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #009e0f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.btn-text--inverse:link, .btn-text--inverse:visited {
  color: #fff;
  border-bottom: 1px solid #fff; }

.btn-text--inverse:hover {
  background-color: #fff;
  color: #ee6352; }

/* ------------------ */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup__show--js {
    opacity: 1;
    visibility: visible; }
  .popup__header {
    margin-top: 0rem; }
  .popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 130rem;
    height: 50rem;
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s .2s; }
    @media (max-width: 740px) {
      .popup__box {
        top: 50%;
        left: 50%;
        height: 90%;
        transform: translate(-50%, -50%); } }
  .popup__show--js .popup__box {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__grid {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "l r" "l t";
    height: 100%;
    width: 100%; }
    @media (max-width: 740px) {
      .popup__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 5fr;
        grid-template-areas: "r" "l"; } }
  .popup__close {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; }
    .popup__close:hover {
      color: #ee6352; }
  .popup__content {
    padding: 4rem;
    position: relative; }
    @media (max-width: 740px) {
      .popup__content {
        padding: 1rem; } }
    .popup__content--left {
      grid-area: l;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), url("../img/perfect-grass.jpg");
      background-color: rgba(255, 255, 255, 0.8);
      background-size: cover;
      background-position: center; }
      .popup__content--left .heading-tertiary {
        color: #fff; }
    .popup__content--right {
      grid-area: r; }
    .popup__content__contact {
      display: block;
      color: #ee6352;
      text-decoration: none;
      text-align: center;
      margin-top: 2rem;
      transition: all 0.5s;
      border-radius: 100px; }
      @media (max-width: 740px) {
        .popup__content__contact {
          margin-top: 1rem; } }
      .popup__content__contact--tel {
        font-size: 2rem;
        display: inline-block;
        text-align: center;
        width: 46%;
        margin: 0 1%; }
        @media (max-width: 860px) {
          .popup__content__contact--tel {
            font-size: 1.6rem; } }
      .popup__content__contact--email {
        font-size: 1.8rem; }
        @media (max-width: 860px) {
          .popup__content__contact--email {
            font-size: 1.3rem; } }
      .popup__content__contact:hover {
        color: #fff;
        background-color: #ee6352; }
    .popup__content__text {
      grid-area: t;
      font-size: 1.2rem;
      align-self: end; }
      @media (max-width: 740px) {
        .popup__content__text {
          display: none; } }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #e09f3d; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #009e0f; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label:not(.form__label--textarea) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-top: .7rem;
  display: block;
  color: #fff;
  transition: all .3s; }

.form__submit {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.2s;
  color: #777;
  border: 1px solid rgba(119, 119, 119, 0.5); }
  .form__submit:hover {
    color: #fff;
    background-color: #c55445; }

.card--service {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 1.5rem 3em rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
  color: #777; }
  .card--service__grid {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 4rem; }
    @media (max-width: 1000px) {
      .card--service__grid {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 740px) {
      .card--service__grid {
        grid-template-columns: 1fr; } }
  .card--service__image {
    width: auto;
    height: 22rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover; }
  .card--service:link .card--service__link,
  .card--service:visited .card--service__link {
    margin-top: 1rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    padding: .5rem 2rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(120deg, #e09f3d 0%, #e09f3d 50%, #009e0f 50%);
    background-size: 230%;
    transition: all .6s; }
  .card--service:hover .card--service__link,
  .card--service:active .card--service__link {
    background-position: 100%; }
  .card--service__text {
    font-size: 1.5rem;
    padding: 2rem;
    height: 12rem;
    overflow: hidden; }

.card--case {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  grid-template-rows: 4fr 1fr;
  grid-column: auto/span 2;
  text-decoration: none; }
  .card--case:link .card--case__textbox,
  .card--case:visited .card--case__textbox {
    color: #777;
    border-left: 2px solid #e09f3d;
    margin-top: 2rem;
    padding-left: 3rem;
    transition: all .3s; }
  .card--case:nth-child(5n-4) {
    grid-column: auto/span 3; }
    @media (max-width: 1000px) {
      .card--case:nth-child(5n-4) {
        grid-column: auto/span 3; } }
    @media (max-width: 740px) {
      .card--case:nth-child(5n-4) {
        grid-column: auto/span 2; } }
  .card--case:link .card--case__image,
  .card--case:visited .card--case__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: all .2s;
    border: 3px solid #fff; }
  .card--case:hover .card--case__image {
    border: 3px solid #e09f3d; }
  .card--case__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 4rem; }
    @media (max-width: 1000px) {
      .card--case__grid {
        grid-template-columns: repeat(5, 1fr); } }
    @media (max-width: 740px) {
      .card--case__grid {
        grid-template-columns: 1fr; } }

.loading {
  display: none; }

.js--onLoad .loading {
  display: block;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #fff, #dcdcdc); }
  .js--onLoad .loading__title {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    LEFT: 50%;
    transform: translateX(-50%); }
    .js--onLoad .loading__title--nurtured {
      color: #009e0f; }
    .js--onLoad .loading__title--landscapes {
      color: #e09f3d; }
  .js--onLoad .loading__message {
    position: absolute;
    top: 40%;
    LEFT: 50%;
    transform: translateX(-50%); }
  .js--onLoad .loading__img {
    border-radius: 100%;
    position: absolute;
    border: 1px solid #009e0f;
    animation: up 1s;
    animation-iteration-count: infinite;
    transition: 2s;
    border-bottom: none;
    border-right: none;
    animation-timing-function: linear;
    margin-left: -50px;
    margin-top: -65px; }

@keyframes up {
  from {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
  .js--onLoad .loading__icon #loading__icon__img1 {
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%; }
  .js--onLoad .loading__icon #loading__icon__img2 {
    width: 90px;
    height: 90px;
    left: 50.35%;
    top: 50.7%;
    animation-delay: .2s; }
  .js--onLoad .loading__icon #loading__icon__img3 {
    width: 80px;
    height: 80px;
    left: 50.70%;
    top: 51.4%;
    animation-delay: .4s; }
  .js--onLoad .loading__icon #loading__icon__img4 {
    width: 70px;
    height: 70px;
    left: 51.05%;
    top: 52.1%;
    animation-delay: .6s; }
  .js--onLoad .loading__icon #loading__icon__img5 {
    width: 60px;
    height: 60px;
    left: 51.40%;
    top: 52.8%;
    animation-delay: .8s; }

/*    Header block    */
/* ------------------ */
.header {
  position: relative;
  z-index: 0; }
  .header__jumbotron {
    position: relative;
    background-image: url("/resources/img/hero-background.jpg");
    background-size: cover;
    background-position: bottom right;
    height: 50vh;
    z-index: 1; }
  .header__textbox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;
    height: 50vh;
    width: 50%;
    transition: all .3s;
    z-index: 1; }
    @media (max-width: 1000px) {
      .header__textbox {
        width: 100%;
        padding: 2rem; } }
  .header__text {
    position: absolute;
    bottom: 13vh;
    color: #fff;
    width: 28rem; }
    @media (max-width: 740px) {
      .header__text {
        bottom: 10vh;
        width: 80%; } }
  .header__sub-text {
    position: absolute;
    opacity: 0;
    bottom: 5vh;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    width: 55rem;
    text-align: left; }
    @media (max-width: 1000px) {
      .header__sub-text {
        width: 80%; } }
    @media (max-width: 580px) {
      .header__sub-text {
        opacity: 0;
        visibility: hidden; } }
    .header__sub-text.animate {
      animation: moveInBottom 1s ease-out .5s;
      animation-fill-mode: forwards;
      backface-visibility: hidden; }
  .header__image {
    position: absolute;
    height: auto;
    width: 30rem;
    bottom: -1rem;
    right: 10rem;
    transition: all .3s; }
    @media (max-width: 1000px) {
      .header__image {
        visibility: hidden;
        opacity: 0; } }
  .header__about {
    color: #777;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-template-areas: "det img" "det quote"; }
    @media (max-width: 1000px) {
      .header__about {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
        grid-template-areas: "det" "img" "quote"; } }
    .header__about__images {
      grid-area: img; }
      .header__about__images img {
        width: 48%;
        height: auto; }
        .header__about__images img:not(:last-child) {
          margin-right: 1%; }
    .header__about__title {
      grid-area: about; }
    .header__about__quote {
      grid-area: quote;
      border-left: 2px solid #e09f3d;
      margin-top: 2rem;
      padding-left: 3rem; }
    .header__about__details {
      grid-area: det;
      line-height: 3rem; }

.quote__text {
  font-size: 3rem;
  font-weight: 300; }

.quote__owner {
  font-size: 1.7rem; }

/* ------------------ */
.section {
  padding: 0 3rem;
  padding-top: 5rem; }
  .section__image {
    position: relative;
    height: 15rem;
    width: 15rem;
    bottom: -1.1rem;
    margin-top: 2rem;
    background-image: url("/resources/img/nllogo-alt.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .section__image--alt {
      background-image: url("/resources/img/nllogo.png"); }
    .section__image--black {
      background-image: url("/resources/img/nllogo-black.png"); }
  .section--alt {
    background-color: #daedbe;
    background-image: linear-gradient(135deg, rgba(218, 237, 190, 0.9), rgba(218, 237, 190, 0.9)), url("/resources/img/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  .section--cases__icon {
    font-size: .8em; }

/*       Footer       */
/* ------------------ */
.footer {
  position: relative;
  display: grid;
  color: #dcdcdc;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  text-align: left; }
  .footer__contactus {
    background-image: linear-gradient(135deg, rgba(1, 134, 15, 0.6) 84%, rgba(1, 134, 15, 0.6) 100%), url("/resources/img/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 6rem; }
    .footer__contactus__header {
      display: block;
      margin-top: 6rem;
      font-size: 3.5rem;
      font-weight: 500; }
    .footer__contactus__text {
      margin-top: 2rem;
      display: block;
      font-size: 1.6rem;
      width: 50%;
      font-weight: 500; }
      @media (max-width: 740px) {
        .footer__contactus__text {
          width: 100%; } }
    .footer__contactus__buttonContainer {
      display: block;
      padding: 3rem 0; }
    .footer__contactus__button:link, .footer__contactus__button:visited {
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      width: 50%;
      font-weight: 500;
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      border: 2px solid #fff;
      margin-bottom: 3rem;
      transition: .3s;
      border-radius: 1rem; }
    .footer__contactus__button:hover {
      background-color: #fff;
      color: #01860f; }
  .footer__container {
    background-color: #000;
    padding: 5rem; }
  .footer__backImage {
    position: absolute;
    top: 1rem;
    left: -1rem;
    height: 15rem; }
  .footer__grid {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    height: 100%;
    grid-gap: 1.5rem;
    align-items: center;
    grid-template-areas: "header header" "text text" "time address" "phone address" "email address" "social social" "nav nav" "copy copy"; }
    @media (max-width: 460px) {
      .footer__grid {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "text" "time" "phone" "email" "address" "social" "nav" "copy"; } }
  .footer__header {
    grid-area: header;
    color: #fff;
    font-size: 3rem; }
  .footer__text {
    grid-area: text; }
  .footer__times {
    grid-area: time; }
  .footer__address {
    grid-area: address; }
  .footer__phone {
    grid-area: phone; }
  .footer__email {
    grid-area: email; }
  .footer__social {
    grid-area: social; }
    .footer__social li {
      display: inline-block;
      font-size: 2.5rem;
      margin-right: 1rem; }
  .footer__navigation {
    grid-area: nav; }
  .footer__copyright {
    grid-area: copy;
    font-size: 1.2rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    font-size: 1.2rem;
    text-align: center; }
    .footer__item:not(:last-child) {
      padding-right: 1rem;
      border-right: 1px solid #fff; }
    .footer__item:not(:first-child) {
      padding-left: .5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #ff6d59; }

.news {
  text-align: center; }
  .news__inner {
    display: inline-block;
    width: 100%;
    margin-top: 4rem; }
  .news__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    grid-gap: 4rem; }
  .news__item {
    border: 2px solid #dcdcdc;
    background: #fff;
    height: 25rem;
    width: 100%;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: border .5s;
    transition: border .5s; }
    .news__item:link, .news__item:visited {
      font-size: 1.8rem;
      font-weight: 300;
      text-decoration: none; }
    .news__item:hover {
      border: 2px solid #009e0f; }
    .news__item__title {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 2rem;
      padding: .5rem 1rem;
      width: 80%;
      background-color: rgba(224, 159, 61, 0.9);
      color: #fff;
      -webkit-transition: all .5s;
      transition: all .5s; }
    .news__item:hover .news__item__title,
    .news__item:hover .news__item__active {
      background-color: rgba(0, 158, 15, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .news__item--lawn {
      background-size: 100%;
      background-position: 50%;
      background-repeat: no-repeat; }
  .news__item--newsletter {
    text-align: center; }
    .news__item--newsletter form {
      display: inline-block;
      font-size: 1.5rem;
      max-width: 400px;
      margin-bottom: 1rem; }
    .news__item--newsletter form input[type="email"] {
      width: 60%;
      padding: 8px 12px 8px 12px;
      border: 1px solid #777; }
    .news__item--newsletter form .label {
      visibility: hidden;
      width: 100%;
      padding-bottom: 0.5rem;
      color: #fff; }
    .news__item--newsletter form button {
      background-color: #009e0f;
      border: 1px solid #777;
      color: #fff;
      -webkit-transition: all .3s;
      transition: all .3s;
      cursor: pointer; }
      .news__item--newsletter form button:hover {
        background-color: #fff;
        color: #009e0f; }

.social-links {
  text-align: center;
  display: block;
  padding-top: 2rem;
  color: #777;
  font-size: 3rem;
  margin-top: 2rem; }
  .social-links li {
    display: inline-block; }
    .social-links li:not(:last-child) {
      margin-right: 1.5rem; }
  .social-links__link:link, .social-links__link:visited {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .social-links__link:hover, .social-links__link:active {
    color: #ff6d59; }

.franchise {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2rem; }
  .franchise__image {
    width: 100%;
    height: auto;
    display: inline-block; }
  .franchise__text {
    display: inline-block;
    margin-left: 5rem;
    height: 100%; }

.service-page__header {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.2);
  padding: 10rem;
  height: 20rem; }
  .service-page__header__title {
    display: inline-block;
    font-size: 4rem; }
  .service-page__header__button {
    float: right;
    margin-top: 2.5rem; }
    @media (max-width: 580px) {
      .service-page__header__button {
        opacity: 0;
        visibility: hidden; } }
  .service-page__header__link:link, .service-page__header__link:visited {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    width: 50%;
    font-weight: 500;
    text-decoration: none;
    color: #777;
    font-size: 2rem;
    border: 2px solid #777;
    margin-bottom: 3rem;
    transition: .3s;
    border-radius: 1rem; }
  .service-page__header__link:hover {
    background-color: #fff;
    color: #01860f; }

.service-page__container {
  position: relative;
  padding: 0 10rem; }
  @media (max-width: 1000px) {
    .service-page__container {
      padding: 0 5rem; } }

.service-page__details {
  display: inline-block;
  width: 69%;
  min-height: 70rem;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .service-page__details {
      display: inline-block;
      float: none;
      width: 100%;
      margin: 0 auto; } }
  .service-page__details__section {
    padding: 3rem; }
    .service-page__details__section p {
      padding: 1rem 0; }
    .service-page__details__section ul {
      padding: 1rem; }
      .service-page__details__section ul li {
        margin-left: 2rem;
        list-style-type: circle; }

.service-page__links {
  height: 100%;
  float: right;
  margin-top: 5rem;
  width: 28%; }
  @media (max-width: 1000px) {
    .service-page__links {
      display: block;
      float: none;
      width: 90%;
      margin: 0 auto; } }
  .service-page__links__item {
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .2s;
    border: 3px solid #fff;
    margin: 0 2rem; }
    @media (max-width: 1000px) {
      .service-page__links__item {
        display: inline-block;
        float: none;
        height: 8rem;
        width: 22rem;
        margin: 0 auto; } }
    @media (max-width: 580px) {
      .service-page__links__item {
        width: 100%; } }
    .service-page__links__item__link {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      text-decoration: none; }
      .service-page__links__item__link:link p,
      .service-page__links__item__link:visited p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 500;
        width: 60%;
        padding: .5rem 2rem;
        color: #fff;
        text-decoration: none;
        text-align: left;
        background-image: linear-gradient(120deg, rgba(224, 159, 61, 0.9) 0%, rgba(224, 159, 61, 0.9) 50%, #009e0f 50%);
        background-size: 230%;
        transition: all .6s; }
      .service-page__links__item__link:hover p {
        background-position: 100%;
        color: #fff; }

.service-page__image {
  width: 100%;
  height: auto; }

.service-page__video {
  width: 100%;
  height: auto; }

.service-page__text {
  font-size: 1.6rem; }

.case-page__header {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.2);
  padding: 2rem 10rem;
  height: 16rem; }
  @media (max-width: 580px) {
    .case-page__header {
      height: 20rem;
      padding: 2rem; } }
  .case-page__header--gap {
    padding: 10rem; }
  .case-page__header__title {
    display: inline-block;
    font-size: 4rem; }
    @media (max-width: 580px) {
      .case-page__header__title {
        font-size: 3.5rem; } }
  .case-page__header__sector {
    display: inline-block;
    font-size: 2rem;
    border-top: 2px solid #e09f3d;
    padding-top: 1rem; }
  .case-page__header__service {
    display: inline-block;
    font-size: 2rem; }
    .case-page__header__service li {
      display: inline-block; }
      .case-page__header__service li::before {
        content: " / ";
        color: rgba(119, 119, 119, 0.4);
        padding: .5rem; }
      .case-page__header__service li a {
        color: #009e0f;
        text-decoration: none; }
        .case-page__header__service li a:hover {
          color: #e09f3d; }
  .case-page__header__button {
    float: right;
    margin-top: 2.5rem;
    margin-right: 1rem; }
    @media (max-width: 860px) {
      .case-page__header__button {
        opacity: 0;
        visibility: hidden; } }
  .case-page__header__link:link, .case-page__header__link:visited {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    width: 50%;
    font-weight: 500;
    text-decoration: none;
    color: #777;
    font-size: 2rem;
    border: 2px solid #777;
    margin-bottom: 3rem;
    transition: .3s;
    border-radius: 1rem; }
  .case-page__header__link:hover {
    background-color: #fff;
    color: #01860f; }

.case-page__container {
  position: relative;
  padding: 5rem 10rem; }
  @media (max-width: 580px) {
    .case-page__container {
      padding: 2.5rem 5rem; } }

.case-page__filters {
  padding: 2rem 0;
  margin-top: 1rem; }
  .case-page__filters--service, .case-page__filters--sector {
    display: inline-block;
    width: 14rem;
    height: 4rem;
    font-size: 1.4rem;
    margin-right: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #777; }
    @media (max-width: 580px) {
      .case-page__filters--service, .case-page__filters--sector {
        width: 100%; } }

.case-page__shortDescription {
  text-align: center;
  margin-top: 2rem; }
  .case-page__shortDescription::after {
    content: " ";
    display: block;
    height: 2px;
    background: #dcdcdc;
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem; }

.case-page__keyDetails {
  text-align: center; }
  .case-page__keyDetails li {
    font-size: 2rem;
    display: inline-block;
    text-indent: -.7rem; }
    .case-page__keyDetails li:not(:last-child) {
      margin-right: 3rem; }
    .case-page__keyDetails li::before {
      content: "•";
      color: #e09f3d;
      /* or whatever color you prefer */ }

.case-page__mainImage {
  height: 40vh;
  background-size: cover;
  background-position: 50% 50%; }

.case-page__image {
  width: 100%;
  height: auto; }

.case-page__details {
  margin-top: 5rem;
  padding-top: 2rem;
  -webkit-columns: 30rem 3;
  columns: 320px 3; }

.news-page__header {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.2);
  padding: 10rem 10rem 0 10rem;
  height: 20rem; }
  .news-page__header--alt {
    height: 24rem; }
  .news-page__header__title {
    display: inline-block;
    font-size: 4rem; }
  .news-page__header__button {
    float: right;
    margin-top: 2.5rem;
    margin-right: 1rem; }
    .news-page__header__button--alt {
      margin-top: 4.5rem; }
    @media (max-width: 860px) {
      .news-page__header__button {
        opacity: 0;
        visibility: hidden; } }
  .news-page__header__link:link, .news-page__header__link:visited {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    width: 50%;
    font-weight: 500;
    text-decoration: none;
    color: #777;
    font-size: 2rem;
    border: 2px solid #777;
    margin-bottom: 3rem;
    transition: .3s;
    border-radius: 1rem; }
  .news-page__header__link:hover {
    background-color: #fff;
    color: #01860f; }
  .news-page__header__category {
    display: inline-block;
    font-size: 2rem;
    border-top: 2px solid #e09f3d;
    padding-top: 1rem; }

.news-page__container {
  position: relative;
  padding: 5rem 10rem; }
  @media (max-width: 580px) {
    .news-page__container {
      padding: 2.5rem 5rem; } }

.news-page__filters {
  float: right;
  width: 20%;
  text-align: right; }
  @media (max-width: 860px) {
    .news-page__filters {
      float: none;
      width: 100%;
      text-align: center;
      margin: 2rem 0; } }
  .news-page__filters__title {
    display: inline-block;
    font-size: 1.8rem;
    border-bottom: 2px solid #777;
    margin-bottom: 1rem; }
    @media (max-width: 860px) {
      .news-page__filters__title {
        text-align: center;
        margin: 0 auto; } }
    @media (max-width: 380px) {
      .news-page__filters__title {
        width: 100%; } }
  .news-page__filters li {
    margin-bottom: 1rem;
    color: #009e0f;
    transition: all .2s;
    cursor: pointer; }
    @media (max-width: 860px) {
      .news-page__filters li {
        display: inline-block;
        margin: 1rem; } }
    .news-page__filters li:hover {
      color: #e09f3d; }

.news-page__news {
  display: inline-block;
  width: 75%; }
  @media (max-width: 860px) {
    .news-page__news {
      width: 100%; } }

.news-page__card {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 0 2rem 5rem 0; }
  .news-page__card__image {
    height: 30rem;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid #dcdcdc; }
  .news-page__card__details {
    padding: 2rem; }
  .news-page__card__title {
    font-size: 2rem;
    color: #009e0f; }
  .news-page__card__date {
    display: inline-block;
    font-size: 1.2rem; }
  .news-page__card__poster {
    display: inline-block;
    font-size: 1.2rem; }
  .news-page__card__short {
    margin-top: 1.5rem; }
  .news-page__card__link {
    display: block;
    right: 2rem;
    bottom: 2rem; }

.news-page__shortDescription {
  margin-top: 4rem; }

.news-page__mainImage img {
  width: 100%;
  height: auto; }

.news-page__mainbox {
  margin-top: 2rem; }
  .news-page__mainbox::after {
    content: " ";
    display: block;
    height: 2px;
    background: #dcdcdc;
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem; }

.news-page__details {
  display: block; }
  .news-page__details__section {
    margin: 3rem; }
