
.franchise {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 2rem;

    &__image {
        width: 100%;
        height: auto;
        display: inline-block;
    }

    &__text {
        display: inline-block;
        margin-left: 5rem;
        height: 100%;
    }
}